
@import "tailwindcss";
@layer base {
  :root {
    --background: 0 0% 100%;       /* White */
    --foreground: 222.2 84% 4.9%;  /* Near Black */
    /* ... other variables */
     --destructive: red-500
  }

  .dark {
    --background: 222.2 84% 4.9%;  /* Near Black */
    --foreground: 210 40% 98%;     /* Near White */
    /* ... other variables */
  }
 
}

